# Ignorar configuración personal de NetBeans
nbproject/private/
nbproject/genfiles.properties
nbproject/project.state

# Ignorar carpetas de compilación
build/
dist/

# Ignorar archivos temporales
*.log
